.add{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #000000;
    font-size: 16px;
}

.add form{
    gap: 20px;
}

.flex-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-img-uploads img{
    width: 120px;
    padding: 1px;
    border: 3px solid rgb(14, 255, 14);
    border-radius: 4px;
    cursor: pointer;
}
.add-product-name,.add-product-descrition{
    width: max(40%,280px);
}

.add-product-name input, .add-product-descrition textarea{
    padding: 10px;
}
.add-category-price{
    display: flex;
    gap: 30px;
}
.add-category-price select ,.add-category-price input{
    max-width: 120px;
    padding: 12px ;
}
.btn{
    max-width: 120px;
    border: none;
    padding: 10px;
    border-radius: 4px;
    background-color:black ;
    color: white;
    cursor: pointer;
}