.sidebar{
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid rgb(194, 153, 153);  
    border-top: 0%;
    font-size: max(1vw,10px);
}
.sidebar-options{
    display: flex;
    padding-top: 50%;
    padding-left: 20%;
    flex-direction: column;
    gap: 20px;
}
.sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid black;
    border-right: 0px;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
}
.sidebar-option.active{
    background-color: rgb(255, 225, 225);
    border: 2px solid;
    border-color: tomato;
}
@media (max-width:900px) {
    .sidebar-option p{
        display: none;
    }
}