.login-pop {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.774);
  display: grid;
}

.login-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.login-title h2 {
    font-size: larger;
  text-align: center;
}
.login-title img {
  width: 16px;
  cursor: pointer;
}

.login-from {
  place-self: center;
  width: max(23vw, 330px);
  color: #808080;
  font-weight: bold;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 30px;
  border-radius: 30px;
  font-size: 15px;
}
.login-from input {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0px ;
}
.btn {

  width: 100px;
  border-radius: 25px;
  color:white;
  background-color: tomato;
  font-size: 18px;
  padding: 3px 10px;
  cursor: pointer;
}
span {
  cursor: pointer;
  color: black;
}
