
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Story+Script&display=swap');


*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; 
  font-family: "Outfit", sans-serif;
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}
.size{
  width: 80%;
  margin: auto;
}


@import "tailwindcss";
.outfit {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}